.LearnFamilyPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}

.LearnFamilyPage-header {
  width: 42%;
  font-size: 3rem;
  border-right: 1px solid #4D4F5E;
}

.LearnFamilyPage-options {
  width: 58%;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(2, 50%);
}