.LearnInstrumentId {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80%;
}

.LearnInstrumentId-header {
  font-size: 3rem;
  width: 40%;
}

.LearnInstrumentId-options {
  border-left: 1px solid #4d4f5e;
  width: 60%;
  font-size: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(2, 50%);
}
