.FrogLilyPads {
  display: flex;
  flex-direction: column;
  height: 50vh;
  overflow: scroll;
}

.FrogLilyPads-section {
  display: flex;
  height: 25vh;
  justify-content: space-around;
  padding: 3.5vh 0;
}
