.NoteOptions {
  background-color: #f4f4f5;
  height: 24vh;
  width: 94vw;
  border-top: 1px solid #d4d2d5;
  margin-left: -2%;
  display: flex;
  align-items: center;
}

.NoteOptions-notes {
  font-size: 24px;
  width: 80%;
  padding-left: 30px;
  display: flex;
  justify-content: space-evenly;
}

.NoteOptions button {
  margin: 0;
  height: 10vh;
}
