.Options {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.Options-option {
  margin: 10px;
}

.Options-img {
  height: 150px;
  width: 150px;
}

.Options-description {
  font-weight: bold;
}