.Learn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}

.Learn-header {
  font-size: 3rem;
  width: 40%;
}

.Learn-options {
  border-left: 1px solid #4D4F5E;
  width: 60%;
  font-size: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(2, 50%);
}