.NoteDisplay {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0;
  height: 20vh;
  width: 95%;
  margin: 0 auto;
}

.NoteDisplay-blocks {
  width: 87%;
  display: flex;
  justify-content: space-evenly;
}