.ListeningLevel-game {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ListeningLevel-game button {
  width: 10%;
}

.ListeningLevel-choice-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.ListeningLevel-choices {
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
}