.AlphabetTable {
  margin: 0 auto;
  width: 100%;
  font-size: 3rem;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
}

.AlphabetTable-cell {
  text-align: center;
  padding: 5px 20px;
  cursor: pointer;
  margin: 5px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 5vw;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  transition: 0.2s ease-in-out;
}

.C {
  color: #eb3323;
}

.D {
  color: #e99e0e;
}

.E {
  color: #fffd54;
}

.F {
  color: #377d22;
}

.G {
  color: #7bc2e0;
}

.A {
  color: #5768ff;
}

.B {
  color: #751a7c;
}

.playNote {
  box-shadow: 0 0 10px 10px grey;
  z-index: 100;
}
