.GoalFilter {
  width: 80%;
  text-align: left;
  font-size: 2rem;
  margin: 0 auto;
}

.GoalFilter-list {
  list-style-type: none;
}

.GoalFilter-list-item {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  color: var(--ctblue, #4266B4);
  text-decoration-line: underline;
  cursor: pointer;
}

.GoalFilter-icon {
  width: 3rem;
  height: 3rem;
  padding-right: 1rem;
}