.ColorWheel {
  position: relative;
  border-radius: 50%;
  --radius: -26vh;
  width: 50%;
  height: 65vh;
  margin: 0 4vw;
}

.ColorWheel-color {
  background-color: #D9D9D9;
  border: 3px solid black;
  border-radius: 50%;
  position: absolute;
  top: 26vh;
  left: 14vw;
  height: calc(95vh / 8);
  width: calc(80vw / 11);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.ColorWheel-color:nth-child(1) {
  transform: translateY(var(--radius));
}
.ColorWheel-color:nth-child(2) {
  transform: rotate(30deg) translateY(var(--radius)) rotate(-30deg);
}
.ColorWheel-color:nth-child(3) {
  transform: rotate(60deg) translateY(var(--radius)) rotate(-60deg);
}
.ColorWheel-color:nth-child(4) {
  transform: rotate(90deg) translateY(var(--radius)) rotate(-90deg);
}
.ColorWheel-color:nth-child(5) {
  transform: rotate(120deg) translateY(var(--radius)) rotate(-120deg);
}
.ColorWheel-color:nth-child(6) {
  transform: rotate(150deg) translateY(var(--radius)) rotate(-150deg);
}
.ColorWheel-color:nth-child(7) {
  transform: rotate(180deg) translateY(var(--radius)) rotate(-180deg);
}
.ColorWheel-color:nth-child(8) {
  transform: rotate(-150deg) translateY(var(--radius)) rotate(150deg);
}
.ColorWheel-color:nth-child(9) {
  transform: rotate(-120deg) translateY(var(--radius)) rotate(120deg);
}
.ColorWheel-color:nth-child(10) {
  transform: rotate(-90deg) translateY(var(--radius)) rotate(90deg);
}
.ColorWheel-color:nth-child(11) {
  transform: rotate(-60deg) translateY(var(--radius)) rotate(60deg);
}
.ColorWheel-color:nth-child(12) {
  transform: rotate(-30deg) translateY(var(--radius)) rotate(30deg);
}