.Button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff00;
  box-shadow: 2px 6px 11px 0px #00000040;
  border-radius: 25px;
  font-family: "Chelsea Market", "Nunito", sans-serif;
  color: black;
  background-color: white;
  cursor: pointer;
}

.regular {
  font-size: 2rem;
  border: 15px solid;
  margin: 4%;
  padding: 4%;
}

.small {
  font-size: 1.5rem;
  border: 8px solid;
  margin: 0 3%;
  padding: 0.6% 2%;
}

.selected {
  color: white;
  background-color: black;
}
