.SequenceBlock {
  display: inline-block;
  position: relative;
  border: 10px solid;
  border-radius: 25px;
  margin: 10px;
  height: 20vh;
  width: 85%;
  padding: 15px;
  font-size: 1.5rem;
}

.SequenceBlock-img {
  margin: 0 auto;
  height: 20vh;
  width: 12vw;
  display: block;
  cursor: pointer;
}

.SequenceBlock-set-pitch {
  display: flex;
  justify-content: space-evenly;
}

.SequenceBlock button {
  width: 15%;
  margin: 5px auto;
  font-size: 1rem;
  border-width: 2px;
  position: absolute;
  top: 5%;
  left: 5%;
}

.playing {
  box-shadow: 0 0 50px red;
}