.Menu-options {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  height: 60vh;
  padding: 20px;
}

.Button {
  position: relative;
}

.Menu-subject-icons {
  display: flex;
  position: absolute;
  justify-content: right;
  height: 20%;
  bottom: 0;
  right: 0;
}