.Choice {
  position: relative;
}

.Choice-wrapper {
  position: absolute;
  z-index: 25;
  padding: 50px;
  width: 85%;
}

.correct {
  background-color: #8aeb0acf;
  border-radius: 25px;
}

.incorrect {
  background-color: #FD4D3ACF;
  border-radius: 25px;
}