.AlphabetTable {
  margin: 0 auto;
  width: 100%;
  font-size: 3rem;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
}

.AlphabetTable-cell {
  text-align: center;
  padding: 5px 20px;
  cursor: pointer;
  margin: 5px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 5vw;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.C {
  color: #EB3323;
}

.D {
  color: #E99E0E;
}

.E {
  color: #FFFD54;
}

.F {
  color: #377D22;
}

.G {
  color: #7BC2E0;
}

.A {
  color: #5768FF;
}

.B {
  color: #751A7C;
}

.playNote {
  box-shadow: 0 0 10px 10px grey;
  z-index: 100;
}