.Button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff00;
  box-shadow: 2px 6px 11px 0px #00000040;
  border-radius: 25px;
  font-family: 'Chelsea Market', 'Nunito', sans-serif;
  color: black;
  background-color: white;
  cursor: pointer;
}

.regular {
  font-size: 2rem;
  border: 15px solid;
  margin: 5%;
  padding: 5%;
}

.small {
  font-size: 1rem;
  border: 3px solid;
  margin: 2% 3%;
  padding: 2% 3%;
}

.selected {
  color: white;
  background-color: black;
}