.ButtonWrapper {
  display: flex;
  align-items: center;
}

.ButtonWrapper button {
  z-index: 6;
  width: 105px;
  height: 90px;
  border-width: 6px;
  margin: 2px;
  padding: 3%;
}

.ButtonWrapper-shape-button {
  width: 45px;
  height: 45px;
}