.SaveSong {
  margin: 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50vh;
  position: relative;
}

.SaveSong button {
  width: 25%;
}

.SaveSong-message {
  position: absolute;
  bottom: 10%;
  right: 20%;
}

.show {
  display: inline-block;
}

.hide {
  display: none;
}