.Input {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

.Input-label {
  padding: 10px 0;
  font-size: 2rem;
}

.Input-input {
  border-radius: 25px;
  border: 5px solid #17255A;
  height: 37px;
  padding: 10px;
  font-size: 1.5rem;
}

.Input-keyboard {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px 0;
}