.Sequence {
  display: flex;
  flex-direction: column;
}

.Sequence-display {
  display: grid;
  grid-template-columns: repeat(4, 375px);
  margin: 0 auto;
}

.Sequence-options {
  display: flex;
  justify-content: space-between;
}