.SequenceBlock {
  display: inline-block;
  border: 5px solid black;
  border-radius: 25px;
  margin: 10px;
  height: 450px;
  width: 300px;
  padding: 15px;
  font-size: 1.5rem;
  box-shadow: 2px 6px 11px 0px #00000040;
}

.SequenceBlock-img {
  margin: 15px auto;
  height: 250px;
  width: 250px;
  display: block;
  cursor: pointer;
}