.LearnFamilyPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80%;
}

.LearnFamilyPage-header {
  width: 40%;
  font-size: 3rem;
}

.LearnFamilyPage-options {
  border-left: 1px solid #4D4F5E;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(2, 50%);
}