.SongMaker-button-instrument-wrapper {
  display: flex;
  width: 85%;
  margin: 0 auto;
  height: 60vh;
  align-items: center;
}

.SongMaker-buttons {
  width: 33%;
}

.SongMaker-buttons button {
  width: 50%;
}