.LearnColors {
  display: flex;
  align-items: center;
}

.LearnColors-description {
  text-align: left;
  font-size: 2rem;
  width: 50%;
}

.LearnColor-add-color {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.yellow {
  color: #feee1d;
}

.red {
  color: #ee2024;
}

.blue {
  color: #4266b4;
}

.orange {
  color: #f78f20;
}

.green {
  color: #2db54f;
}

.violet {
  color: #783197;
}

.dandelion {
  color: #fdce0e;
}

.tangelo {
  color: #f35623;
}

.plum {
  color: #a0409a;
}

.blueberry {
  color: #665baa;
}

.emerald {
  color: #1a917e;
}

.pear {
  color: #91c940;
}
