.NoteBlock {
  border: 10px solid;
  height: 15vh;
  width: 10vw;
  margin-left: 8%;
  border-radius: 25px;
  position: relative;
}

.NoteBlock-note {
  margin-top: 20px;
}

.NoteBlock-delete {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}