.WindowNavbar-main {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}

.WindowNavbar-games {
  display: flex;
  margin: 0 auto;
}

.WindowNavbar-button {
  font-size: 3rem;
  cursor: pointer;
  padding-bottom: 5px;
}

.WindowNavbar-label {
  font-size: 3rem;
  margin: 0 auto;
}

.underlined {
  background-image: url(_icons/underline.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}