.WindowNavbar-main {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}

.WindowNavbar-games {
  display: flex;
  margin: 0 auto;
}

.WindowNavbar-button {
  font-size: 3rem;
  cursor: pointer;
}

.WindowNavbar-label {
  font-size: 3rem;
  margin: 0 auto;
}

.underlined {
  border-bottom: 10px solid transparent;
  border-image: url(_icons/underline.png) 17;
}