.MenuNavbar-main {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}

.MenuNavbar-games {
  display: flex;
  margin: 0 auto;
}

.MenuNavbar-back {
  position: absolute;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.MenuNavbar-back img {
  height: 65px;
  width: 73px;
}

.MenuNavbar-button {
  font-size: 3rem;
  cursor: pointer;
}

.MenuNavbar-label {
  font-size: 3rem;
  margin: 0 auto;
}