.InstrumentDisplay {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
  width: 67%;
  height: 80%;
}

.InstrumentDisplay-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.InstrumentDisplay-remove {
  cursor: pointer;
  text-decoration: underline;
}