.Instrument-main {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}

.Instrument-name {
  width: 40%;
  font-size: 3rem;
}

.Instrument-information {
  width: 60%;
  border-left: 1px solid #4D4F5E;
}

.Instrument-buttons {
  display: flex;
  justify-content: space-evenly;
}