.ControlBar {
  display: flex;
  flex-direction: column;
}

.ControlBar-button-wrapper {
  display: flex;
  align-items: center;
}

.ControlBar-button-wrapper button {
  z-index: 5;
}

.ControlBar-shape-button {
  width: 45px;
  height: 45px;
}