.Dropdown {
  position: relative;
  display: inline-block;
  margin: 15px 0;
}

.Dropdown-label {
  border-radius: 25px;
}

.Dropdown-options {
  display: none;
  z-index: 50;
  background-color: white;
  padding: 10px 20px;
  height: 20vh;
  overflow: scroll;
}

.Dropdown:hover .Dropdown-options {
  position: absolute;
  top: 100%;
  left: 25%;
  display: block;
}

.Dropdown-option {
  border-bottom: 1px solid;
  cursor: pointer;
}

.Dropdown-option:hover {
  background-color: pink;
}