.Face {
  border: 5px solid #0d0709;
  border-radius: 50%;
  background-color: #d4d2d5;
  display: inline-block;
  height: 14vh;
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.selected-face {
  background-color: #ffe81a;
}

.Face img {
  width: 60%;
}
