.TimeBlock {
  display: inline-block;
  border-radius: 25px;
  padding: 40px 25px;
  box-shadow: 0px 4px 4px 0px #00000040;
  cursor: pointer;
}

.excited {
  background-color: #ffe81a;
  color: #0d0709;
}

.relaxed {
  background-color: #4266b4;
  color: white;
}
