.WordForm {
  padding: 30px;
  margin: 5px auto;
  width: 50%;
  height: 4vh;
  border: 1px solid black;
  border-radius: 10px;
}

.WordForm-form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}

.WordForm-input {
  width: 60%;
  margin: 5px auto;
}

.WordForm-button {
  width: 25%;
  margin: 5px auto;
}

.WordForm-error {
  color: red;
}