.WordForm {
  padding: 2% 50px;
  margin: 0 auto;
  width: 20%;
  height: 50%;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.5rem;
}

.WordForm-form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}

.WordForm-label {
  margin: 5px;
}

.WordForm-button {
  width: 25%;
  margin: 15px auto;
}

.WordForm-error {
  color: red;
}