.LilyPadDisplay {
  display: flex;
}

.LilyPadDisplay-lily-pad {
  background-color: #e8f4fa;
  height: 15vh;
  width: 18vw;
  box-shadow: inset 0 0 15px 5px white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.LilyPadDisplay-pad {
  height: 7vh;
}

.LilyPadDisplay-flower {
  position: absolute;
  top: 15%;
}
