.Sequence {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  gap: 2%;
  margin: 0 auto;
  width: 90%;
}

.Sequence-block {
  display: inline-block;
  position: relative;
  border: 10px solid;
  border-radius: 25px;
  margin: 10px;
  height: 20vh;
  width: 85%;
  padding: 15px;
  font-size: 1.5rem;
}

.Sequence-block-img {
  margin: 0 auto;
  height: 20vh;
  width: 12vw;
  display: block;
  cursor: pointer;
}

.Sequence-block button {
  width: 15%;
  margin: 5px auto;
  font-size: 1rem;
  border-width: 2px;
  position: absolute;
  top: 5%;
  left: 5%;
}

.playing {
  box-shadow: 0 0 50px red;
}