.Sequence {
  display: flex;
  flex-direction: column;
}

.Sequence-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Sequence-display {
  display: grid;
  grid-template-columns: repeat(4, 22%);
  gap: 3%;
  margin: 0 auto;
  width: 100%;
}

.Sequence-controls {
  display: flex;
  justify-content: space-between;
  height: 300px;
  align-items: center;
}