body {
  margin: 0;
  font-family: 'Chelsea Market', 'Nunito', sans-serif;
  font-size: 1.5rem;
  background-color: #17225A;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lines {
  position: absolute;
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  z-index: -50;
  width: 100vw;
}

.right {
  position: relative;
  bottom: 0;
}