.ReportCard {
  width: 90%;
  margin: 0 auto;
  display: grid;
  padding: 0 50px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.ReportCard-score-display {
  font-size: 2rem;
  margin: 5%0;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.ReportCard-visual-score img {
  padding-right: 10px;
  height: 50px;
  width: 22%;
}

.ReportCard-text-score {
  text-align: right;
  font-size: 1.5rem;
  margin-right: 5%;
}