.Score {
  font-size: 2rem;
  margin: 5% 0;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.Score-visual-score img {
  padding-right: 10px;
  height: 50px;
}

.Score-text-score {
  text-align: right;
  font-size: 1.5rem;
  margin-right: 5%;
}