.Stencil {
  --stencilX: 1;
  --stencilY: 1;
  position: absolute;
  cursor: move;
  user-select: none;
  background-color: #F8F8F8;
  top: 12%;
  right: 6%;
  border: 1px solid #000000;
  border-radius: 10%;
  width: 40%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Stencil-text {
  font-family: Arial;
  font-size: 35rem;
  color: white;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #000000;
  /* To be used for scaling letters */
  /* Safari and Chrome */
  -webkit-transform: scale(var(--stencilX), var(--stencilY));
  /* Firefox */
  -moz-transform: scale(var(--stencilX), var(--stencilY));
  /* IE 9 */
  -ms-transform: scale(var(--stencilX), var(--stencilY));
  /* Opera */
  -o-transform: scale(var(--stencilX), var(--stencilY));
  /* Other */
  transform: scale(var(--stencilX), var(--stencilY));
}

.Stencil-clear {
  height: 7%;
  width: 7%;
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}

.Stencil-resize {
  height: 14%;
  width: 14%;
  position: absolute;
  bottom: -2%;
  left: -2%;
  cursor: pointer;
}

.Stencil-shape {
  height: 80%;
  width: 80%;
}