.SaveSong {
  margin: 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50vh;
}

.SaveSong-control {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

.SaveSong-label {
  padding: 10px 0;
  font-size: 2rem;
}

.SaveSong-input {
  border-radius: 25px;
  border: 5px solid #17255a;
  height: 37px;
  padding: 10px;
  font-size: 1.5rem;
}

.SaveSong button {
  width: 20%;
  height: 25%;
}

.SaveSong-message {
  position: absolute;
  bottom: 30%;
  right: 25%;
}
