.App {
  text-align: center;
}

.App-lines {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: -50;
  width: 100vw;
  height: 100vh;
}

.right {
  position: relative;
  bottom: 0;
}