.NewRoster {
  display: flex;
}

.NewRoster-options {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.NewRoster-students {
  border-left: 1px solid #4D4F5E;
  width: 70%;
  height: 55vh;
  text-align: left;
  padding: 0 5%;
  font-size: 2.5rem;
  overflow: scroll;
}

.NewRoster-form-control {
  padding: 16px 0;
}

.NewRoster-label {
  opacity: 0;
}

.NewRoster-input {
  height: 50px;
  width: 35vw;
  font-size: 2.5rem;
}

.NewRoster-input::placeholder {
  font-family: 'Chelsea Market', 'Nunito', sans-serif;
  font-size: 2.5rem;

}

.NewRoster-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 16px 0;
}

.NewRoster-error {
  color: red;
  font-size: 16px;
}